div {
    margin-bottom: 5px;
  }
  
  label {
    float: left;
    width: 150px;
    text-align: right;
    margin-right: 10px;
    font-weight: bold;
  }
  
  #button {
    margin-left: 160px;
  }
  